.logo-products-page {
  padding: 20px;
}

.buttons-products-table-page {
  display: flex;
  justify-content: space-between;

  margin: 20px 50px;
}

.buttons-products-table-page button {
  background-color: #ffffff !important;
  color: #05bc52;
  border: solid 2px #ffffff;
  width: 179px;
  height: 52px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.buttons-products-table-page button i {
  background-color: #ffffff;
  color: #000000;
  font-size: 32px;
  padding: 0;
  margin-right: 10px;
  line-height: 1;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons-products-table-page button:hover {
  color: #000000;
  border-color: #000000;
  transition: all 0.3s ease;
}

.buttons-products-table-page button:active {
  background-color: #000000 !important;
  color: #ffffff !important;
  border: solid 2px #ffffff !important;
}

.buttons-products-table-page button:active i {
  color: #ffffff;
  background-color: #000000;
}

.heading-products-table {
  font-weight: 700;
  font-size: 64px;
  color: #ffffff;
  margin: auto;
  text-align: center;
}
