* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.login-page {
  background-color: #44b26f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page form {
  background-color: #ffffff;
}

.login-card {
  background-color: #ffffff;
  width: 500px;
  min-height: 650px;
  padding: 100px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card img {
  width: 240px;
  height: 40px;
  margin-bottom: 40px;
}

.login-page .login-card .btn {
  background-color: #44b26f;
  color: #ffffff;
  border: 2px solid #44b26f;
  width: 277px;
  height: 56px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
}

.login-card input {
  background-color: #d9d9d9;
  width: 277px;
  height: 56px;
  margin-bottom: 40px;
  font-size: 14px;
  border-style: none;
}

.form-control::placeholder {
  color: #44b26f;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
}

.btn:active {
  background-color: #ffffff !important;
  color: #44b26f !important;
  border-color: #44b26f !important;
}

.password-input-group:focus-within .bi-eye-fill,
.password-input-group:focus-within .bi-eye-slash-fill {
  background-color: #fff;
}

.bi-eye-fill,
.bi-eye-slash-fill {
  padding: 0.6px 9px 1.2px 9px;
  font-size: 34px;
  background-color: #d9d9d9;
  margin-right: 1.5px;
}

.input-group-text {
  padding: 0;
}

.login-page input:focus {
  border: 2px solid #d9d9d9 !important;
  box-shadow: none !important;
}
